<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <title>02-about-cats</title>
  <link href="index.css" rel="stylesheet">
</head>

<body>
  <input class="mycheckbox" type="checkbox"><br>

  <div class="cat-card">
    <img alt="Photo of Cat 1" class="cat-image" src="images/cat-1.jpg">
    <div class="cat-name"><a href="#">Вася</a></div>
    <div class="cat-char">Характеристика: толстый, ленивый, любит лизать</div>
    <div class="cat-age">Возраст: 120 лет</div>
    <div class="cat-breed">Порода: анимешник обыкновенный</div>
    <div class="cat-diseases">Болезни: здорово</div>
    <div class="cat-status">Статус: без жены</div>
    <div class="cat-desc">Добрый, хороший, любит прокрастинировать, смотреть в стену, ест диван,
      живет в конуре, по вечерам решает codeforces уровень D (ну да бывает), пересматривает Наруто 5
      раз. Активный клиент Яндекс-Банка.
    </div>
  </div>

  <div class="cat-card">
    <img alt="Photo of Cat 2" class="cat-image" src="images/cat-2.jpg">
    <div class="cat-name"><a href="#">Петя</a></div>
    <div class="cat-char">Характеристика: косогласый</div>
    <div class="cat-age">Возраст: 35 лет</div>
    <div class="cat-breed">Порода: любит лает</div>
    <div class="cat-diseases">Болезни: шиза</div>
    <div class="cat-status">Статус: влюблен в себя</div>
    <div class="cat-desc">Подробное описание - его нет</div>
  </div>

  <div class="cat-card">
    <img alt="Photo of Cat 3" class="cat-image" src="images/cat-3.jpg">
    <div class="cat-name"><a href="#">Иннокентий</a></div>
    <div class="cat-char">Характеристика: 100 IQ</div>
    <div class="cat-age">Возраст: -5 лет</div>
    <div class="cat-breed">Порода: иностранец</div>
    <div class="cat-diseases">Болезни: очень много (влезло, но нет)</div>
    <div class="cat-status">Статус: холст</div>
    <div class="cat-desc">Носит красную рубашку и не любит подробное описание</div>
  </div>

  <div class="cat-card">
    <img alt="Photo of Cat 4" class="cat-image" src="images/cat-4.jpg">
    <div class="cat-name"><a href="#">Вася</a></div>
    <div class="cat-char">Характеристика: толстый, ленивый, любит лизать</div>
    <div class="cat-age">Возраст: 120 лет</div>
    <div class="cat-breed">Порода: анимешник обыкновенный</div>
    <div class="cat-diseases">Болезни: здоров</div>
    <div class="cat-status">Статус: без жены</div>
    <div class="cat-desc">Добрый, хороший, любит прокрастинировать, смотреть в стену, ест диван,
      живет в конуре, по вечерам решает codeforces уровень D (ну да бывает), пересматривает Наруто 5
      раз. Активный клиент Яндекс-Банка.
    </div>
  </div>

  <div class="cat-card">
    <img alt="Photo of Cat 5" class="cat-image" src="images/cat-5.jpg">
    <div class="cat-name"><a href="#">Вася</a></div>
    <div class="cat-char">Характеристика: толстый, ленивый, любит лизать</div>
    <div class="cat-age">Возраст: 120 лет</div>
    <div class="cat-breed">Порода: анимешник обыкновенный</div>
    <div class="cat-diseases">Болезни: здоров</div>
    <div class="cat-status">Статус: без жены</div>
    <div class="cat-desc">Добрый, хороший, любит прокрастинировать, смотреть в стену, ест диван,
      живет в конуре, по вечерам решает codeforces уровень D (ну да бывает), пересматривает Наруто 5
      раз. Активный клиент Яндекс-Банка.
    </div>
  </div>

  <div class="cat-card">
    <img alt="Photo of Cat 6" class="cat-image" src="images/cat-6.jpg">
    <div class="cat-name"><a href="#">Вася</a></div>
    <div class="cat-char">Характеристика: толстый, ленивый, любит лизать</div>
    <div class="cat-age">Возраст: 120 лет</div>
    <div class="cat-breed">Порода: анимешник обыкновенный</div>
    <div class="cat-diseases">Болезни: здоров</div>
    <div class="cat-status">Статус: без жены</div>
    <div class="cat-desc">Добрый, хороший, любит прокрастинировать, смотреть в стену, ест диван,
      живет в конуре, по вечерам решает codeforces уровень D (ну да бывает), пересматривает Наруто 5
      раз. Активный клиент Яндекс-Банка.
    </div>
  </div>

  <div class="cat-card">
    <img alt="Photo of Cat 7" class="cat-image" src="images/cat-7.jpg">
    <div class="cat-name"><a href="#">Вася</a></div>
    <div class="cat-char">Характеристика: толстый, ленивый, любит лизать</div>
    <div class="cat-age">Возраст: 120 лет</div>
    <div class="cat-breed">Порода: анимешник обыкновенный</div>
    <div class="cat-diseases">Болезни: здоров</div>
    <div class="cat-status">Статус: без жены</div>
    <div class="cat-desc">Добрый, хороший, любит прокрастинировать, смотреть в стену, ест диван,
      живет в конуре, по вечерам решает codeforces уровень D (ну да бывает), пересматривает Наруто 5
      раз. Активный клиент Яндекс-Банка.
    </div>
  </div>

  <div class="cat-card">
    <img alt="Photo of Cat 8" class="cat-image" src="images/cat-8.png">
    <div class="cat-name"><a href="#">Вася</a></div>
    <div class="cat-char">Характеристика: толстый, ленивый, любит лизать</div>
    <div class="cat-age">Возраст: 120 лет</div>
    <div class="cat-breed">Порода: анимешник обыкновенный</div>
    <div class="cat-diseases">Болезни: здоров</div>
    <div class="cat-status">Статус: без жены</div>
    <div class="cat-desc">Добрый, хороший, любит прокрастинировать, смотреть в стену, ест диван,
      живет в конуре, по вечерам решает codeforces уровень D (ну да бывает), пересматривает Наруто 5
      раз. Активный клиент Яндекс-Банка.
    </div>
  </div>

  <div class="cat-card">
    <img alt="Photo of Cat 9" class="cat-image" src="images/cat-9.jpg">
    <div class="cat-name"><a href="#">Вася</a></div>
    <div class="cat-char">Характеристика: толстый, ленивый, любит лизать</div>
    <div class="cat-age">Возраст: 120 лет</div>
    <div class="cat-breed">Порода: анимешник обыкновенный</div>
    <div class="cat-diseases">Болезни: здоров</div>
    <div class="cat-status">Статус: без жены</div>
    <div class="cat-desc">Добрый, хороший, любит прокрастинировать, смотреть в стену, ест диван,
      живет в конуре, по вечерам решает codeforces уровень D (ну да бывает), пересматривает Наруто 5
      раз. Активный клиент Яндекс-Банка.
    </div>
  </div>

  <div class="cat-card">
    <img alt="Photo of Cat 10" class="cat-image" src="images/cat-10.jpg">
    <div class="cat-name"><a href="#">Вася</a></div>
    <div class="cat-char">Характеристика: толстый, ленивый, любит лизать</div>
    <div class="cat-age">Возраст: 120 лет</div>
    <div class="cat-breed">Порода: анимешник обыкновенный</div>
    <div class="cat-diseases">Болезни: здоров</div>
    <div class="cat-status">Статус: без жены</div>
    <div class="cat-desc">
      Добрый, хороший, любит прокрастинировать, смотреть в стену, ест диван,
      живет в конуре, по вечерам решает codeforces уровень D (ну да бывает), пересматривает Наруто 5
      раз. Активный клиент Яндекс-Банка.
    </div>
  </div>

</body>

</html>
