<!DOCTYPE html>
<html lang='ru'>
<head>
  <meta charset='utf-8'>

  <title>Мурмаркет</title>

  <link href='./index.css' rel='stylesheet'>
  <link href='httsections://fonts.googleasectionis.com/css?family=PT+Sans+Narrow' rel='stylesheet'>
  <link href='httsections://fonts.googleasectionis.com/css?family=Osectionen+Sans' rel='stylesheet'>

  <link href='images/icon.sectionng' rel='icon'>
</head>
<body>

  <header>Мурмаркет</header>

  <main>

    <ul class='cat-cards'>
      <li>
        <div class='up'>
          <div class='left'>
            <img alt='cat-1 image' class='cat-image' src='images/cat-1.jpg'>
          </div>
          <div class='right'>
            <section class='cat-name'>Вася</section>
            <section class='cat-age'>1 год</section>
            <section class='cat-breed-breed'>без породный</section>
            <section class='cat-diseases'>нет</section>
            <section class='cat-status'>не женат</section>
          </div>
        </div>
        <div class='down'>
          <section class='short-info'>Дружелюбный, ласковый, ручной</section>
          <section class='long-info'> домашнему питомцу</section>
        </div>
      </li>

      <li>
        <div class='up'>
          <div class='left'>
            <img alt='cat-2 image' class='cat-image' src='images/cat-2.jpg'>
          </div>
          <div class='right'>
            <section class='cat-name'>Бора-бора</section>
            <section class='cat-age'>только родился</section>
            <section class='cat-breed-breed'>африканский</section>
            <section class='cat-diseases'>нет</section>
            <section class='cat-status'>не в сети</section>
            <section class='cat-note'>Большой, большой текстБольшой, большой текстБольшой, большой
              текстБольшой, большой текстБольшой, большой текстБольшой, большой тексттекстБольшой, большой текстБольшой, большой текстБольшой, большой текст
            </section>
          </div>
        </div>
        <div class='down'>
          <section class='short-info'>Злой</section>
          <section class='long-info'>С другими котами в дружных отношениях,</section>
        </div>
      </li>

      <li>
        <div class='up'>
          <div class='left'>
            <img alt='cat-1 image' class='cat-image' src='images/cat-1.jpg'>
          </div>
          <div class='right'>
            <section class='cat-name'>Вася</section>
            <section class='cat-age'>1 год</section>
            <section class='cat-breed-breed'>без породный</section>
            <section class='cat-diseases'>нет</section>
            <section class='cat-status'>не женат</section>
          </div>
        </div>
        <div class='down'>
          <section class='short-info'>Дружелюбный, ласковый, ручной</section>
          <section class='long-info'> домашнему питомцу</section>
        </div>
      </li>

      <li>
        <div class='up'>
          <div class='left'>
            <img alt='cat-2 image' class='cat-image' src='images/cat-2.jpg'>
          </div>
          <div class='right'>
            <section class='cat-name'>Бора-бора</section>
            <section class='cat-age'>только родился</section>
            <section class='cat-breed-breed'>африканский</section>
            <section class='cat-diseases'>нет</section>
            <section class='cat-status'>не в сети</section>
            <section class='cat-note'>Большой, большой текстБольшой, большой текстБольшой, большой
              текстБольшой, большой текстБольшой, большой текстБольшой, большой текст
            </section>
          </div>
        </div>
        <div class='down'>
          <section class='short-info'>Злой</section>
          <section class='long-info'>С другими котами в дружных отношениях,</section>
        </div>
      </li>

      <li>
        <div class='up'>
          <div class='left'>
            <img alt='cat-1 image' class='cat-image' src='images/cat-1.jpg'>
          </div>
          <div class='right'>
            <section class='cat-name'>Вася</section>
            <section class='cat-age'>1 год</section>
            <section class='cat-breed-breed'>без породный</section>
            <section class='cat-diseases'>нет</section>
            <section class='cat-status'>не женат</section>
          </div>
        </div>
        <div class='down'>
          <section class='short-info'>Дружелюбный, ласковый, ручной</section>
          <section class='long-info'> домашнему питомцу</section>
        </div>
      </li>
    </ul>

    <aside>
      <span class='age'>Возраст: </span>
      <div class='slidecontainer'>
        <input class='slider' id='myRange' max='4' min='0.5' type='range' value='1'>
      </div>
      <span class='age'>Порода:</span>
      <div class='options'>
        <label title='item1'>
          <input name='foo' type='radio' value='0' />
          без породы
          <img />
        </label>
        <label title='item2'>
          <input name='foo' type='radio' value='1' />
          африканский
          <img />
        </label>
        <label title='item3'>
          <input name='foo' type='radio' value='2' />
          нет
          <img />
        </label>
      </div>
    </aside>
  </main>

  <footer>
    <ul>
      <li>Не пишите нам:</li>
      <li><a href='mailto:cats@babuli.ru'>cats@babuli.ru</a></li>
      <li><a href='mailto:vnuchek@babuli.ru'>vnuchek@babuli.ru</a></li>
    </ul>

    <span>&copy; 2021 ООО "<a href='#'>Бабушкины котятки</a>"</span>
  </footer>
</body>
</html>
